@model List<SolicitudRol>

<h1>Solicitudes de cambio de rol</h1>

<span class="alert-danger">@ViewBag.Error</span>
<table class="table">
  <thead>
  <tr>
    <th>
      Nombre
    </th>
    <th>
      Rol
    </th>
    <th>
      Comentario
    </th>
    <th>
      Fecha
    </th>
    <th>
      Acciones
    </th>
  </tr>
  </thead>
  <tbody>
  @foreach (var vaPetition in Model)
  {
    <tr>
      <td>
        @Html.DisplayFor(m=> vaPetition.UsuarioSolicitudNavigation!.Nombre)
      </td>
      <td>
        @Html.DisplayFor(m=> vaPetition.RolSolicitadoNavigation!.NombreRol)
      </td>
      <td>
        @Html.DisplayFor(m=> vaPetition.Comentario)
      </td>
      <td>
        @Html.DisplayFor(m=> vaPetition.FechaSolicitud)
      </td>
      <td>
        <a  class="link-success space-x-1.5" asp-action="AcceptPetition" asp-controller="Rol" asp-route-petitionId="@vaPetition.IdSolicitud">Aceptar Solicitud</a>
        <a class="link-danger space-x-1.5" asp-action="RejectPetition" asp-controller="Rol" asp-route-petitionId="@vaPetition.IdSolicitud">Rechazar Solicitud</a>
      </td>
    </tr>
  }
  </tbody>
</table>