@model OnlyPan.Models.ViewModels.UserViewModels.ProfileRolViewModel

    <div class="container-fluid m-3 flex align-items-center flex-column">
  <h1 class="uppercase font-bold py-3 text-xl">Asignación de rol</h1>
  <!--TODO Display the profile into a floating card-->

        <div class="grid gap-1 grid-cols-2 w-1/2 justify-items-center my-3">
        <div class="img-prof flex align-items-center justify-items-center">
            <img class="img-fluid user-image" src="data:image;base64,@Convert.ToBase64String(Model.Photo!)"
                 alt="User img" />
        </div>
    <div>
            <p class="font-bold text-uppercase my-3">Nombre de usuario: <span class="font-normal normal-case">@Model.Name</span></p>
            <p class="font-bold text-uppercase my-3">Correo Electronico: <span class="font-normal normal-case">@Model.Email</span></p>
            <p class="font-bold text-uppercase my-3">Rol Actual: <span class="font-normal normal-case">@Model.CurrentRol</span></p>
            <p class="font-bold text-uppercase my-3">Rol Solicitado: <span class="font-normal normal-case">@Model.NewRol</span></p>
            <p class="font-bold text-uppercase my-3">Seguidores: <span class="font-normal normal-case">@Model.Followers</span></p>
            <p class="font-bold text-uppercase my-3">Seguidos: <span class="font-normal normal-case">@Model.Followed</span></p>
      <div>
        <a asp-action="AcceptPetition" asp-controller="Role" asp-route-idUser="@Model.IdUser" asp-route-idRol="@Model.IdRolNew"
           class="btn btn-success">Aceptar Solicitud</a>
        <a asp-action="RejectPetition" asp-controller="Role"  asp-route-idUser="@Model.IdUser" asp-route-idRol="@Model.IdRolNew"
           class="btn btn-danger">Rechazar Solicitud</a>
      </div>
    </div>
  </div>
</div>