@model OnlyPan.Models.ViewModels.UserViewModels.ReplicViewModel 
<div class="container flex justify-center align-center flex-column w-1/2 my-5">
    <span class="text-danger">@ViewBag.Error</span>
    <span class="text-success">@ViewBag.Success</span>
    <h2 class="uppercase font-bold">@Model.Name</h2>
    <h3 class="text-gray-500">
        <span class="font-bold text-black">Autor:</span>
        <a class="linkprimary" asp-controller="User" asp-action="ProfileUser" asp-route-userId="@Model.ChefId">
            @Model.Chef
        </a>
        <span>Fecha Creacion Receta:@Model.Date    Fecha Replica:@Model.DateReplicated</span>
    </h3>
    <p> <span class="font-bold text-black">Categoria:</span> @Model.Category, Etiqueta: @Model.Tag</p>
    <div class="grid lg:grid-cols-3 gap-0">
    @foreach (var photo in Model.Photos!)
    {
        <img class="img-thumbnail img-recipe" src="data:image;base64,@Convert.ToBase64String(photo)" alt="imagen @Model.Name"/>
    }
    </div>
    <h3 class="uppercase font-bold my-3">Descripcion de la receta</h3>
    <p class="text-black">@Model.Description</p>
    <h3 class="uppercase font-bold my-3">Ingredientes de la receta</h3>
    <ul class="list-disc">
        @foreach (var ingredient in Model.Ingredients!)
        {
            <li>@ingredient</li>
        }
    </ul>
    <h3 class="uppercase font-bold my-3">Pasos de la receta</h3>
    <p class="text-black">@Model.Instructions</p>
    <h2 class="font-bold my-3 uppercase">Comentario del cliente</h2>
    <form method="post" asp-controller="User" asp-action="UpdateReplic">
        <input type="hidden" name="replicId" value="@Model.IdReplic"/>
        <textarea name="comment" rows="10" cols="50" class="resize-y min-w-full border-solid border-2 border-black rounded-md p-2">@Model.Comentary</textarea>
        <input type="submit" class="inline-flex items-center px-3 py-2 bg-green-600 transition ease-in-out delay-75 hover:bg-green-700 text-white text-sm font-medium rounded-md hover:-translate-y-1 hover:scale-110 w-20" value="Aceptar" />
    </form>
</div>
