@model List<SolicitudRol>

<h1>Solicitudes de cambio de rol</h1>

<span class="alert-danger">@ViewBag.Error</span>
<table class="table">
  <thead>
  <tr>
    <th>
      Nombre
    </th>
    <th>
      Rol
    </th>
    <th>
      Fecha
    </th>
    <th>
      Acciones
    </th>
  </tr>
  </thead>
  <tbody>
  @foreach (var vaPetition in Model)
  {
    <tr>
      <td>
        @Html.DisplayFor(m=> vaPetition.IdUsuarioSolicitudNavigation!.Nombre)
      </td>
      <td>
        @Html.DisplayFor(m=> vaPetition.IdRolSolicitudNavigation!.NombreRol)
      </td>
      <td>
        @Html.DisplayFor(m=> vaPetition.FechaSolicitud)
      </td>
      <td>
        <a class="link-success space-x-1.5" asp-action="ViewProfileRol" asp-controller="User"
           asp-route-idUser="@vaPetition.IdUsuarioSolicitud" asp-route-idRol="@vaPetition.IdRolSolicitud">
          Ver Perfil
        </a>
      </td>
    </tr>
  }
  </tbody>
</table>