@model OnlyPan.Models.ViewModels.RecipesViewModels.RecipeViewModel
<div class="container">
    <span class="text-danger">@ViewBag.Error</span>
    <span class="text-success">@ViewBag.Success</span>
    <h2 class="uppercase">@Model.Name</h2>
    <h3 class="text-gray-500">Autor: @Model.Chef <span>@Model.Date</span></h3>
    <p> Categoria: @Model.Category, Etiqueta: @Model.Tag</p>
    <img class="img-thumbnail" src="data:image;base64,@Convert.ToBase64String(Model.Photo!)" alt="imagen @Model.Name"/>
    <h3 class="uppercase">Descripcion de la receta</h3>
    <p class="text-black">@Model.Description</p>
    <h3 class="uppercase">Ingredientes de la receta</h3>
    <ul class="list-disc">
        @foreach (var ingredient in Model.Ingredients)
        {
            <li>@ingredient</li>
        }
    </ul>
    <h3 class="uppercase">Pasos de la receta</h3>
    <p class="text-black">@Model.Instructions</p>
    <h3 class="uppercase">Comentarios</h3>
    <div class="container">
        @if (Model.Comments == null || Model.Comments.Count == 0)
        {
            <p class="text-black">No hay comentarios</p>
        }
        @foreach (var comment in Model.Comments!)
        {
            <div class="container">
                <p>@comment.UserName</p>
                <p>@comment.Comment</p>
                <a class="text-danger" asp-action="ReportComent"
                   asp-controller="Recipes" asp-route-commentId="@comment.IdComment"
                   asp-route-recipeId="@Model.IdRecipe">
                    Reportar Comentario
                </a>
            </div>
        }
    </div>
    <h3 class="uppercase">Comenta tu Opinion</h3>
    <form asp-action="CreateComment" asp-controller="Recipes" method="post">
        <label for="comment">Comentario</label>
        <input type="text" name="comment"/>
        <input type="hidden" name="recipeId" value="@Model.IdRecipe"/>
        <input type="submit" value="Comentar"/>
    </form>
</div>